<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione Animale</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{css/registrazione_animale.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>
    <!--funzione per mostra del pulsante-->
    <script>
        function mostra() {
            let nuovoProprietarioDiv = document.getElementById("nuovoProprietario");
            let proprietarioEsistente = document.getElementById("proprietarioEsistente").value;
            if (proprietarioEsistente) {
                nuovoProprietario.style.display = "none";
            } else {
                nuovoProprietario.style.display = "block";
            }
        }
    </script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <!-- Logo a sinistra -->
        <a class="navbar-brand" th:href="@{/registrazione_animale}">
            <img th:src="@{immagini/scritta_logo.png}" alt="vet_clinic">
        </a>
        <!-- Bottone Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profilo_vet}">IL MIO PROFILO</a>
                </li>
                <li class="separator">|</li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/area_riservata/logout}">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Contenitore principale -->
<div class="container mt-4">
    <div id="titolo" class="text-center w-100">
        <h1 class="mb-4">Aggiungi proprietario e il suo animale</h1>
    </div>

    <form method="post" th:object="${animale}"  enctype="multipart/form-data">
        <h3>Proprietario</h3>
        <label for="proprietarioEsistente">Seleziona un Proprietario Esistente</label>
        <select id="proprietarioEsistente" name="idProprietario" class="form-control" onchange="mostra()">
            <option value="">-- Seleziona un Proprietario --</option>
            <option th:each="proprietario : ${proprietari}" th:value="${proprietario.id}"
                    th:text="|${proprietario.nome} (${proprietario.codiceFiscale})|">
            </option>
        </select>

        <button type="button" class="btn btn-secondary mt-3" onclick="mostra()">Aggiungi Nuovo Proprietario</button>

        <div id="nuovoProprietario" style="display:none; margin-top: 20px;">
            <h4>Nuovo Proprietario</h4>
            <div class="mb-3">
                <label for="nomeProprietario">Nome</label>
                <input type="text" name="nomeProprietario" class="form-control">
            </div>
            <div class="mb-3">
                <label for="indirizzo">Indirizzo</label>
                <input type="text" name="indirizzo" class="form-control">
            </div>
            <div class="mb-3">
                <label for="citta">Città</label>
                <input type="text" name="citta" class="form-control">
            </div>
            <div class="mb-3">
                <label for="CAP">CAP</label>
                <input type="text" name="CAP" class="form-control">
            </div>
            <div class="mb-3">
                <label for="codiceFiscale">Codice Fiscale</label>
                <input type="text" name="codiceFiscale" class="form-control">
            </div>
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control">
            </div>
            <div class="mb-3">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" class="form-control">
            </div>
        </div>


        <h3 class="mt-4">Dati Animale</h3>

        <div class="mb-3">
            <label for="nome">Nome</label>
            <input type="text" id="nome" class="form-control" th:field="*{nome}" required>
            <div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
        </div>

        <div class="mb-3">
            <label for="specie">Specie</label>
            <input type="text" id="specie" class="form-control" th:field="*{specie}" required>
            <div class="text-danger" th:if="${#fields.hasErrors('specie')}" th:errors="*{specie}"></div>
        </div>

        <div class="mb-3">
            <label for="razza">Razza</label>
            <input type="text" id="razza" class="form-control" th:field="*{razza}" required>
            <div class="text-danger" th:if="${#fields.hasErrors('razza')}" th:errors="*{razza}"></div>
        </div>

        <div class="mb-3">
            <label for="sesso">Sesso</label>
            <select id="sesso" class="form-control" th:field="*{sesso}" required>
                <option value="M">Maschio</option>
                <option value="F">Femmina</option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('sesso')}" th:errors="*{sesso}"></div>
        </div>

        <div class="mb-3">
            <label for="annoDiNascita">Anno di Nascita</label>
            <input type="number" id="annoDiNascita" class="form-control" th:field="*{annoDiNascita}" min="1990" step="1" required>
            <div class="text-danger" th:if="${#fields.hasErrors('annoDiNascita')}" th:errors="*{annoDiNascita}"></div>
        </div>

        <div class="mb-3">
            <label for="colore">Colore</label>
            <input type="text" id="colore" class="form-control" th:field="*{colore}" required>
            <div class="text-danger" th:if="${#fields.hasErrors('colore')}" th:errors="*{colore}"></div>
        </div>

        <div class="mb-3">
            <label for="peso">Peso (Kg)</label>
            <input type="number" name="peso" class="form-control" th:field="*{peso}" min="0.1" step="0.01" required>
            <div class="text-danger" th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}"></div>
        </div>

        <div class="mb-3 info-row">
            <div class="info-group">
                <label for="fotografia">Foto Profilo Animale</label>
                <input type="file" name="fotografia" class="form-control" id="fotografia">
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Aggiungi</button>

    </form>

</div>



</body>
</html>