<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Playfair Display, serif;
        }

        .btn {
            color: #eeeeee;
            font-size: 17px;
            height: 60px;
            width: 568px;
            background-color: #2d3f4e;
        }

        .form.genere {
            display: flex;
            width: 86%;
            font-size: 17px;
            margin: -70px 10px -60px 0;
        }

        .form.genere label:first-of-type {
            margin-right: 20px;
            cursor: pointer;
        }

        .form-check-input, .form-check-label {
            cursor: pointer;
        }

        .form-check-input {
            margin-right: 5px;
        }

        .form-check-label {
            flex-grow: 1;
        }

        .form-check {
            margin: 0 0 0 0;
        }

    </style>
</head>
<body>
<div class="container container">
    <div class="logo">
        <a th:href="@{/}"><img src="../static/immagini/logo_vet.png" alt="Logo"></a>
    </div>
    <div class="image">
        <img src="../static/immagini/log1.jpg" class="slide" alt="Slide 1">
        <img src="../static/immagini/log2.jpg" class="slide" alt="Slide 2">
        <img src="../static/immagini/log3.jpg" class="slide" alt="Slide 3">
        <img src="../static/immagini/log4.jpg" class="slide" alt="Slide 4">
        <img src="../static/immagini/log5.jpg" class="slide" alt="Slide 5">
        <img src="../static/immagini/log6.jpg" class="slide" alt="Slide 6">
        <img src="../static/immagini/log7.jpg" class="slide" alt="Slide 7">
        <img src="../static/immagini/log8.jpg" class="slide" alt="Slide 8">
        <img src="../static/immagini/log9.jpg" class="slide" alt="Slide 9">
        <img src="../static/immagini/log10.jpg" class="slide" alt="Slide 10">
    </div>
    <div class="form">
        <h2>Crea un account</h2>
        <p>Sei già registrato? <a th:href="@{/accedi}">Accedi</a></p>
        <form th:object="${veterinario}" method="post">
            <div class="mb-3 name-container">
                <input type="text" class="form-control" placeholder="Nome" th:field="*{nome}" required>
                <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p> <!--Per messaggio di errore-->
                <input type="text" class="form-control" placeholder="Cognome" th:field="*{cognome}" required>
                <p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p> <!--Per messaggio di errore-->
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email" th:field="*{email}" required>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p> <!--Per messaggio di errore-->
                <p th:if="${duplicato != null}" th:text="${duplicato}"></p> <!--per duplicato email già presente-->
            </div>
            <div class="mb-3 password-container">
                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" required>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p> <!--Per messaggio di errore-->
                <i class="bi bi-eye toggle-password" id="togglePassword"></i>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="N° iscrizione Albo" th:field="*{numeroIscrizioneAlbo}" required>
                <p th:if="${#fields.hasErrors('numeroIscrizioneAlbo')}" th:errors="*{numeroIscrizioneAlbo}"></p> <!--Per messaggio di errore-->
            </div>
            <div class="form genere">
                <label for="genere">Genere:</label>
                <input type="radio" class="form-check-input" id="maschio" name="genere" value="M" th:field="*{sesso}">
                <label class="form-check-label" for="maschio">Maschio</label>

                <input type="radio" class="form-check-input" id="femmina" name="genere" value="F" th:field="*{sesso}">
                <label class="form-check-label" for="femmina">Femmina</label>

                <input type="radio" class="form-check-input" id="altro" name="genere" value="A" th:field="*{sesso}">
                <label class="form-check-label" for="altro">Altro</label>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="terms" required>
                <label class="form-check-label" for="terms">I agree to the <a href="#">Terms & Conditions</a></label>
            </div>
            <button type="submit" class="btn">Crea account</button>
        </form>
    </div>
</div>
<script>
    document.getElementById("togglePassword").addEventListener("click", function () {
        const passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
            this.classList.remove("bi-eye");
            this.classList.add("bi-eye-slash");
        } else {
            passwordField.type = "password";
            this.classList.remove("bi-eye-slash");
            this.classList.add("bi-eye");
        }
    });
    let previousIndex = -1; // Memorizza l'indice precedente

    function changeImage() {
        const images = document.querySelectorAll('.image img');

        // Nasconde tutte le immagini
        images.forEach(img => img.style.display = 'none');

        // Seleziona un indice random tra 0 e la lunghezza dell'array immagini
        let newIndex;

        // Se il nuovo indice è uguale al precedente, seleziona un altro indice
        do {
            newIndex = Math.floor(Math.random() * images.length);
        } while (newIndex === previousIndex); // Riprova se l'indice è lo stesso di quello precedente

        // Mostra l'immagine random
        images[newIndex].style.display = 'block';

        // Aggiorna previousIndex con il nuovo indice
        previousIndex = newIndex;
    }

    // Mostra la prima immagine all'inizio
    changeImage();

    // Cambia immagine ogni 4 secondi in modo randomico
    setInterval(changeImage, 4000);


</script>

</body>
</html>
