body{
    background-color: #beceda;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 934px;
    margin: 0;
}
.container{
    display: flex;
    width: 80%;
    max-width: 1800px;
    align-items: center;
    justify-content: center;
}
.container-fluid img{
    margin-left: 35px;
    height: 53px;
}

.container h1{
    width: 700px;
    height: 312px;
    font-family: Playfair Display, serif;
    font-size: 84px;
    margin-bottom: 0px;
}

.container img {
    margin-top: 75px;
    flex: 1;
    width: 90%;
    height: auto;
}
.image{
    flex: 1;
    height: 100%;
}
.image img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}
.primo p{
    margin-top: 0px;
    margin-bottom: 80px;
    font-size: 15px;
}
.secondo p{
    width: 568px;
    font-size: 15px;
    margin-bottom: 52px;
    text-align: center;
}
.form{

    flex: 1;
    padding: 80px;
}
.form h2 {
    margin-bottom: 5px;
    font-size: 37px;
}
.form-control {
    height: 60px;
    width: 568px;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #eeeeee;
    font-size: 17px;
}
.logo {
    position: absolute;
    top: 49px;
    right: 195px;
}
.logo img {
    width: 130px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
@media (max-width: 768px) {
    .separator {
        display: none;
    }
}
.separator{
    margin-top: 7px;
    font-size: 20px;
    color: #c98040;
    font-weight: bold;
}
.navbar{
    background-color: #435f75;
}
#navbarNav{
    margin-right: 35px;
}
#navbarNav a{
    font-size: 20px;
    color: #eeeeee;
}
.password-container {
    display: flex;
    align-items: center;
}
.toggle-password {
    position: relative;
    right: 40px;
    cursor: pointer;
    font-size: 20px;
    color: #666;
}
.name-container {
    display: flex;
    gap: 18px;
}
.name-container input {
    width: 275px;
}