
body{
    background-color: #beceda;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 934px;
    margin: 0;
    font-family: Playfair Display, serif;
}

.container{
    display: flex;
    width: 80%;
    max-width: 1800px;
    align-items: center;
}

.navbar {
    background-color: #e6e1e1;
}

.home-container {
    min-height: 100vh;
    /* Altezza intera della viewport */
    display: flex;
    align-items: center;
}

.home-text {
    padding: 20px;
}

.home-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
}

p, a {
    font-family: 'Codec Pro', sans-serif;
}

.btn{
    height: 60px;
    width: 568px;
    background-color: #2d3f4e;
    color: #eeeeee;
    font-size: 17px;
}